        </div>
    </div>
</div>

<!--[if lte IE 8]>
</div>
<![endif]-->
<script type="text/javascript" src="{{site.baseurl}}javascripts/libs/ios-orientationchange-fix.js"></script>
<script type="text/javascript" src="{{site.baseurl}}javascripts/libs/jquery-min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}javascripts/libs/modernizr.js"></script>
<script type="text/javascript" src="{{site.baseurl}}javascripts/custom.js"></script>

{% include local_footer.html %}
{% include global_footer.html %}
